.image-container {
  padding: 20px 0;
}
.tags-container {
  display: flex;
  justify-content: center;
}

.chip-tag {
  background-color: aliceblue;
  padding: 4px;
  margin: 0 4px;
  border-radius: 5px;
}

.delete-button {
  background: transparent;
  border: none;
  color: red;
}
